.quotes {
  min-height: 23rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.5rem;
  gap: 10px;
  border-radius: 10px;
  justify-content: space-around;
  background-color: #121119;

  .icon {
    height: 27px;
    width: 42px;
  }

  p {
    font-size: 18px;
    color: white;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -0.05em;
  }

  .profiles {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;

    .dp {
      height: 60px;
      width: 60px;
      border-radius: 100%;
    }

    .profile-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;

      .c-name {
        font-size: 20px;
        color: white;
        font-weight: 600;
      }
      .pos {
        font-size: 16px;
        color: #8c7db0;
      }
    }
  }
}

@media only screen and (max-width: 610px) {
  .quotes {
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 2.5rem;
    gap: 10px;
    justify-content: space-around;
    background: rgba(141, 35, 58, 0.07);
    backdrop-filter: blur(5px);
    border-radius: 20px;

    .icon {
      height: 27px;
      width: 42px;
    }

    p {
      font-size: 1rem;
      color: white;
    }

    .profiles {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 15px;

      .dp {
        height: 60px;
        width: 60px;
        border-radius: 100%;
      }

      .profile-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;

        .c-name {
          font-size: 20px;
          color: white;
          font-weight: 600;
        }
        .pos {
          font-size: 16px;
          color: #8c7db0;
        }
      }
    }
  }
}
