.cfooter {
  display: flex;
  width: 100%;
  min-height: 6rem;
  background-color: #1c1726;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;

  .copyright {
    font-size: 24px;
    font-weight: 600;
    color: white;
  }

  .link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 13rem;
    align-items: center;
    margin-right: 2rem;

    .f-icon {
      height: 40px;
      width: 40px;
      object-fit: cover;
      margin-right: 10px;
    }
  }
}

@media only screen and (max-width: 655px) {
  .cfooter {
    display: flex;
    width: 100%;
    min-height: 3rem;
    background-color: #1c1726;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;

    .copyright {
      font-size: 15px;
      color: white;
      font-weight: 500;
    }

    .link-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.6rem;
      width: 8rem;
      align-items: center;
      margin-right: 0;

      .f-icon {
        height: 28px;
        width: 28px;
        object-fit: cover;
      }
    }
  }
}
