.client {
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 3rem 2rem 2rem;
  border-radius: 10px;
  background-color: #1a1018;
  margin: -2.5rem auto 0;

  .c-title {
    margin-top: 1.5rem;

    p {
      font-size: 56px;
      font-weight: bold;
      color: white;

      b {
        color: #fa1e4e;
      }
    }
  }

  .cc-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 125px));
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 2rem;

    .c-icon {
      height: 125px;
      width: 125px;
      object-fit: cover;
      border-radius: 100%;
    }
  }
}

@media only screen and (max-width: 675px) {
  .client {
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 1rem;
    border-radius: 10px;
    background-color: #1a1018;
    margin: -6rem auto 0;

    .c-title {
      margin-top: 1.5rem;

      p {
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        color: white;

        b {
          color: #fa1e4e;
        }
      }
    }

    .cc-wrapper {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, 90px);
      gap: 25px;
      margin-top: 2rem;

      .c-icon {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 100%;
      }
    }
  }
}
