.testimonial {
  min-height: 100vh;
  width: 100%;
  padding: 3rem 5rem;

  .s-title {
    height: 23rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2rem;

    .what {
      display: flex;
      width: 100%;
      flex-direction: column;

      span {
        font-size: 48px;
        color: white;
        font-weight: 600;
      }
      p {
        font-size: 48px;
        color: white;
        font-weight: bold;
        b {
          color: #fa1e4e;
        }
      }
    }
  }
  .t-des {
    width: 50%;
    p {
      color: #8c7db0;
      font-size: 20px;
      padding: 1rem 2rem;
    }
  }
  .t-cards {
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 6rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 1010px) {
  .testimonial {
    min-height: 100vh;
    width: 100%;
    padding: 0;

    .s-title {
      height: 23rem;
      width: 100%;
      row-gap: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      .what {
        display: flex;
        width: 100%;
        flex-direction: column;

        span {
          font-size: 2.3rem;
          color: white;
          font-weight: 600;
        }
        p {
          font-size: 2.3rem;
          color: white;
          font-weight: bold;
          b {
            color: #fa1e4e;
          }
        }
      }
    }
    .t-des {
      width: 100%;
      p {
        color: #8c7db0;
        font-size: 20px;
        padding: 0;
        width: 100%;
      }
    }
    .t-cards {
      margin-bottom: 6rem;
      width: 100%;
    }
  }
}
