.specialization {
  min-height: 100vh;
  width: 100%;
  background-color: #131019c1;
  padding: 3rem 5rem;

  .s-title {
    min-height: 23rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    p {
      font-size: 56px;
      color: #fa1e4e;
      font-weight: bold;
      b {
        color: white;
      }
    }
  }
  .skill-icon {
    display: flex;
    gap: 15px;

    .s-icon {
      height: 50px;
      width: 55px;
      object-fit: cover;
    }
  }
  .recent-card {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    gap: 2rem;
  }
}

@media only screen and (max-width: 1450px) {
  .specialization {
    .s-title {
      justify-content: none;
      min-height: 16rem;
    }
    .skill-icon {
      width: 50%;
    }
    .recent-card {
      margin: 0 auto;
      width: 90%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
      padding: 1rem 0;
    }
  }
}

@media only screen and (max-width: 1220px) {
  .specialization {
    background-color: #131019c1;
    padding: 2rem;

    .s-title {
      margin-top: 2rem;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 40px;
      margin-bottom: 1rem;
      min-height: 12rem;

      p {
        font-size: 2.5rem;
        color: #fa1e4e;
        font-weight: bold;
        b {
          color: white;
        }
      }
    }
    .skill-icon {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      grid-gap: 1.6rem;

      .s-icon {
        height: 50px;
        width: 55px;
        object-fit: cover;
      }
    }
    .recent-card {
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      margin-bottom: 4rem;
    }
  }
}

@media only screen and (max-width: 775px) {
  .specialization {
    padding: 1rem;

    .s-title {
      justify-content: none;
      p {
        font-size: 2.3rem;
        color: #fa1e4e;
        font-weight: bold;
        b {
          color: white;
        }
      }
    }
    .skill-icon {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
      grid-gap: 1rem;
      padding: 0 0 1rem;

      .s-icon {
        height: 30px;
        width: 35px;
        object-fit: cover;
      }
    }
  }
}
